[submodule "git-submodules/yaFyaml"]
	path = git-submodules/yaFyaml
	url = https://github.com/Goddard-Fortran-Ecosystem/yaFyaml
[submodule "git-submodules/gFTL-shared"]
	path = git-submodules/gFTL-shared
	url = https://github.com/Goddard-Fortran-Ecosystem/gFTL-shared
[submodule "git-submodules/dag"]
	path = git-submodules/dag
	url = git@github.com:sourceryinstitute/dag
