[submodule "git-submodules/daglib"]
	path = git-submodules/daglib
	url = git@github.com:sourceryinstitute/daglib
[submodule "git-submodules/yaFyaml"]
	path = git-submodules/yaFyaml
	url = https://github.com/Goddard-Fortran-Ecosystem/yaFyaml
[submodule "git-submodules/gFTL-shared"]
	path = git-submodules/gFTL-shared
	url = https://github.com/Goddard-Fortran-Ecosystem/gFTL-shared
